{% extends 'inicio.html' %}

{% block contenido %}
<a href="{% url 'inicio' %}">IR A INICIO</a>

    
     <main>
        <h1>{{post.titulo}}</h1>
        <img src="{{post.imagen.url}}" width="300px" >
        <p>{{post.descripcion}}</p>
        <p>{{post.cuerpo}}</p>
        <p>{{post.fecha}}</p>

         </p>
     </main>
     <br><br>
             <p><h2>Comentarios</h2>
                <br>
{% if not post.comments.all %}
    No Comments Yet... <a href="{% url 'add_comment' post.pk %}">Add One</a>
{% else %}
    {% for comment in post.comments.all %}
        <strong>
        {{ comment.name }} -
        {{ comment.date_added }} -
        </strong>
        <br>
        {{ comment.body}}
        <br><br>
    {% endfor %}
    <a href="{% url 'add_comment' post.pk %}">
    Add Comment
    </a>

{% endif %}
<br>

 

 <br>
    
    
{% endblock contenido %}


