{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Sallqa Pacha</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>

<body>
    <header class="header">
        <nav>
            <div class="nav__perfil">
                <h1 class="salqua">Sallqua Pacha</h1>

            </div>
            <ul>
                <li><a href="{% url 'app_nameforogeneral:boton_forogeneral' %}">Blog</a></li>
                <li><a href="{% url 'app_acercade:boton_acercade' %}">Acerca de nosotros</a></li>
                <li><a href="{% url 'app_objetivosonu:boton_objetivosONU' %}">ODS</a>
                    <!---->
                  
                    <!---->


                    <!-- ============== 
                            <a href="{% url 'app_iniciodesesion:boton_iniciodesesion' %}">Iniciar Sesión</a> 
                                <hr>
                            <a href="{% url 'app_registrar:boton_registrar' %}">Registrar</a>
                            MENU NAV BAR DERECHA ===========-->
                    <div>
                        <ul>
                            <li>
                                {% if user.is_authenticated %}
                                <span>Bienvenido {{ user.username }}</span>
                                <a href="{% url 'logout' %}">Cerrar Sesion</a> {% else %}
                                <a href="{% url 'login' %}">Iniciar Sesión</a>
                                <a href="{% url 'app_registrar:boton_registrar' %}">Registrarse</a> {% endif %}
                            </li>
                        </ul>
                    </div>

        </nav>
    </header>


    {% block contenido %} 
    <main>
        <section>
            <h2>
                Pantalla inicio
            </h2>
        </section>
    </main>
    {% endblock contenido %}

    <footer>
        <h3>Proyecto Sallqua Pacha</h3>
        <h3>Informatorio</h3>
    </footer>
</body>